name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest

    - name: Run Flake8
      run: |
        flake8 . --statistics \
                  --max-line-length=127 \
                  --exclude=.git,__pycache__,node_modules

    - name: Run Pytest
      run: pytest --verbose
